#testimonial-section {
    margin-top: 5em;
}

#testimonial-section h2 {
    width: 500px;
    font-size: 36px;
    font-family: "Graphik-Bold";
    margin-bottom: 40px;
}

#testimonial-container {
    display: flex;
    justify-content: space-between;
    gap: 4em;
    align-items: center;
}

#customer-img-container {
    position: relative;
}

#customer-img-container::before {
    content: "";
    position: absolute;
    left: 18px;
    top: 15px;
    width: 320px;
    height: 340px;
    border: 2px solid #06942A;
    border-radius: 30px;
    z-index: -1;
}

#right-div-testimonial-section {
    position: relative;
}

#right-div-testimonial-section #quote-img {
    position: absolute;
    top: 30px;
}

#right-div-testimonial-section .customer-review {
    font-size: 18px;
}

#right-div-testimonial-section .customer-name {
    font-size: 21px;
    font-family: "Graphik-Medium";
}

#right-div-testimonial-section .customer-role {
    font-size: 21px;
    color: #9B9B9B;
}


/* Get started style */
#get-started-container {
    position: relative;
    margin-top: 8em;
    margin-bottom: 8em;
    background: url("/src/assets/lady-smiles.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding-inline: 2em;
    padding-block: 5.2em;
    color: white;
    display: grid;
    justify-content: end;
    gap: 2em;
    z-index: 0;
}

#get-started-container::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    background-color: rgba(20, 20, 20, 0.3);
    z-index: -1;
}

#get-started-container h3 {
    font-size: 48px;
    font-family: "Graphik-Bold";
    margin: 0;
    margin-bottom: -20px;
}

#get-started-container p {
    margin: 0;
}

#get-started-container button {
    color: white;
    background-color: #06942A;
    padding-inline: 3.5em;
    border-radius: 20px;
    justify-self: start;
}

#get-started-container button:focus {
    outline: none;
}

